.main_body{
	padding-top: 50px;
	min-height: 550px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/pain.jpg);
	background-size: cover;
}

.main_body div{
	padding-top: 20px;
	padding-bottom: 20px;
}

.main_body input{
	width: 200px;
	height: 40px;
	font-size: 20px;
}

.feiyong select{
	width: 150px;
}

.zhichuren select{
	width: 150px;
}

.jine input{
	width: 150px;
	height: 35px;
	font-size: 15px !important;
	vertical-align: top !important;
}

.beizhu textarea{
	width: 150px;
	height: auto;
}

.caozuo input{
	width: auto;
	height: auto;
}

.mui-icon-plusempty, .mui-icon-personadd{
	background-color: gainsboro;
}
