.main_body{
	padding-top: 50px;
	min-height: 550px;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/stars.jpg);
	background-size: cover;
}

.main_body div{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*START Edit 0410 Suo*/
/*.main_body input{
	width: 200px;
	height: 40px;
	font-size: 20px;
}}*/
.main_body button{
	width: 200px;
	height: 40px;
	font-size: 20px;
}
/*End Edit 0410 Suo*/